.header_menu {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("../assets/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container_img {
    padding: 1em;
}

.menu-list {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container_button:checked~.menu-list {
    display: block;
}

.menu-list_title, .menu-list_item {
    padding: 1em;
    background-color: var(--white);
}

.menu-list_title {
    color: var(--orange);
    font-weight: 700;
}

.menu-list_link {
    background: var(--blue-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container_button {
    display: none;
}

.container_title {
    display: none;
}

.options {
    display: none;
}


@media screen and (min-width: 1024px) {
    .container_title, .container_title-bold {
        font-family: var(--second-font);
        font-size: 30px;

    }

    .container_title {
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container_title-bold {
        font-weight: 700;
    }

    .options {
        display: flex;
    }

    .options_item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .options_link {
        text-decoration: none;
        color: var(--black);
    }

    .container_img-transparent {
        display: none;
    }

    .header_menu {
        display: none;
    }

    .options_buttons:checked~.menu-list {
        display: block;
        width: auto;
    }

    .options_buttons {
        display: none;
    }
}